@{
    ViewBag.Title = "Home Page";
}
    <div class="product-info">
        <img src="~/img/download.jfif" />
        <h3>Mug</h3>
        <ul class="product-props">
            <li>Price: $9.99</li>
            <li>Artist: Resin</li>
            <li>Title:</li>
            <li>Description: Bloom</li>
        </ul>
        <button id="buyButton">Buy</button>
    </div>

    <div id="theForm">
        <form>
            <lable>Your Name:</lable>
            <br />
            <input />
            <br />
            <lable>Email:</lable>
            <br />
            <input type="email" />
            <br />
            <lable>Subject:</lable>
            <br />
            <input type="text" />
            <br />
            <lable>Message:</lable>
            <br />
            <textarea rows="4"></textarea>
            <br />
            <input type="submit" value="Send Message" />
        </form>
    </div>

    <div>
        <div id="loginToggle">Login</div>
        <from class="popup-form">
            <div>
                <lable>Username</lable>
                <input />
            </div>
            <div>
                <lable>Password</lable>
                <input type="password" />
            </div>
            <div>
                <input type="checkbox" />
                <lable>Remember Me?</lable>
            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        </from>
    </div>
